<!DOCTYPE html>
<html>
  <head>
    <title>TestApplication</title>
    <%= csrf_meta_tags %>
    <% unless Rails::VERSION::MAJOR == 5 && Rails::VERSION::MINOR == 1 %>
      <%= csp_meta_tag %>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
